@import "variables";

h1 {
   color: $text-color;
   border: $border;
}

p{
   color: $text-color;
   border: $border;
   font-size: $main-font;
   margin: #{$mx +10px};
   padding: #{$px + $py};
}

a {
   color: $text-color;
}

div {
   p {
      $font-color: #fff;
      $border: 3px dotted green;
      background-color: $bg-color;
      border: $border;
      font: $main-font;
   }
   span {
      border: $border;
   }
}

h2 {
   color: $h2-color;
   border: $border;
}