div, main {
   background: gray;
   p, h2{
      color: lightblue;
   }
}

main{
   .purple {
      color: purple;
   }
   p:nth-of-type(1) {
      color: red;
   }
}

li {
   color: purple;
}

ol {
    > li {
      color: blue;
   }
}
a{
   text-decoration: none;
   color: green;
   transition: background-color .5s, color .5s;
   padding: 10px;
   border: 1px solid green;
   display: block;
   width: 150px;
   text-align: center;

   &:hover {
      background-color: green;
      color: #fff;
   }
}

.container {
   background-color: #ccc;
   padding: 20px;
   margin: 20px;

   &-content {
      color: red;
   }
}

.spacing {
   padding: 200px;
}

.btn {
   padding: 10px 20px;
   border: 1px solid blue;
   color: #fff;
   border-radius: 5px;
   background-color: blue;
   cursor: pointer;
   margin: 5px;

   &:hover {
      opacity: 0.5;
   }
   
   &-success {
      background-color: green;
      border-color: green;
      &:hover {
         background-color: white;
         color: green;
      }
   }
   
   &-danger {
      background-color: red;
      border-color: red;
      &:hover {
         background-color: white;
         color: red;
      }
   }
}

%base-title-style {
   border-bottom: 2px dotted red;
   padding: 10px;
   background-color: yellow;
   text-align: center;
}

.title {
   font-size: 30px;
   @extend %base-title-style;
}

.sub-title {
   font-size: 25px;
   @extend %base-title-style;
}
